/*Authored by http://www.beijunyi.com on 1st March 2014*/

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #a0a1a1;
  font-family: "Arial", sans-serif;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.highlight,
.hovered {
  color: #52c3f1 !important;
}

.text-mask-title {
  font-size: 23px;
  font-weight: bold;
  color: #00c2e5;
}

.text-mask {
  background-color: rgba(0, 207, 238, 0.76);
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  display: table;
}

.text-mask p {
  display: table-cell;
  vertical-align: middle;
  padding: 0 25px;
}

.body-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.main-background {
  background-color: #ffffff;
}

.main-container {
  position: absolute;
  width: 950px;
  left: 50%;
  margin-left: -475px;
  height: 600px;
  top: 50%;
  margin-top: -300px;

  background-color: white;
}

.main-footer {
  width: 100%;
  position: fixed;
  top: 50%;
  margin-top: 310px;
  font-size: 9px;
  text-align: center;
}

.container-bar {
  width: 100%;
  height: 5px;
}

.container-brand {
  width: 100%;
  height: 100px;
  padding: 30px;
}

.container-nav {
  width: 100%;
  bottom: 30px;
  padding: 30px;

  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.container-nav a {
  padding: 20px;
  color: #a0a1a1;
}

.container-nav span {
  color: #7597a5
}

.container-image {
  position: absolute;
  top: 100px;
  left: 0;
}

.home-text {
  position: absolute;
  width: 360px;
  padding: 180px 40px 40px 40px;
  font-size: 13px;
}

.about-text-mask-title {
  position: absolute;
  top: 310px;
  left: 22px;
}

.about-text-mask {
  position: absolute;
  top: 337px;
  width: 624px;
  height: 130px;
}

.about-gallery-column {
  position: absolute;
  left: 640px;
  top: 100px;
  font-size: 11px;
}

.about-gallery-column-title {
  font-size: 15px;
  color: #52c3f1;
}

.about-honorary-advisors {
  padding-right: 15px;
  font-size: 10px;
  line-height: 11px;
}

.about-honorary-advisors li {
  height: 100px;
  cursor: pointer;
}

.about-honorary-advisors img {
  float: left;
  margin-right: 15px;
  height: 84px;
  width: 69px;
}

.about-business-partners {
  cursor: pointer;
}

.about-business-partners li {
  padding-top: 2px;
}


.contact-table {
  position: absolute;
  table-layout: fixed;
  top: 430px;
  width: 100%;
  font-size: 10px;
  line-height: 16px;
  padding-left: 20px;
}

.contact-table > tbody > tr > td {
  padding: 0 50px 70px 50px;
}

tr.contact-icon td {
  background-repeat: no-repeat;
  padding: 0 0 5px 30px;
  /*cursor: pointer;*/
}

tr.contact-tel td {
  background-image: url("../images/tel_inactive.png");
}

/*tr.contact-tel td.hovered {*/
  /*background-image: url("../images/tel_active.png");*/
/*}*/

tr.contact-website td {
  background-image: url("../images/website_inactive.png");
}

/*tr.contact-website td.hovered  {*/
  /*background-image: url("../images/website_active.png");*/
/*}*/

tr.contact-email td {
  background-image: url("../images/email_active.png");
  cursor: pointer;
}

/*tr.contact-email td {*/
  /*background-image: url("../images/email_inactive.png");*/
/*}*/

/*tr.contact-email td.hovered  {*/
  /*background-image: url("../images/email_active.png");*/
/*}*/

tr.contact-address td {
  background-image: url("../images/address_inactive.png");
}

/*tr.contact-address td.hovered {*/
  /*background-image: url("../images/address_active.png");*/
/*}*/